<div class="ui-g">
    <div class="ui-g-4">
    </div>
    <div class="ui-g-4">
      <h1>NG-Classroom</h1>  
        <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText> 
            <label for="float-input">Usuario</label>
        </span>
      <hr/>
      <span class="ui-float-label">
          <input id="float-pass" type="text" size="30" pInputText> 
          <label for="float-pass">Contraseña</label>
      </span>
      <hr/>
      <button pButton type="button" label="Ingresar"></button>
      <hr/>
      <div><a href="#">Registrarse</a>&nbsp;|&nbsp;<a href="#">Olvido contraseña</a></div>
    </div>
      
    <div class="ui-g-4"></div>
  </div>
  